.bg-img{
  background-image: url(./components/image/bg-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.i-text::placeholder{
  color: #000 !important;
}